.answers {
  margin-left: 2rem;
  margin-right: 2rem;
 
  display: flex;
  flex-direction: column;
}
.options button {
  margin-bottom: 1rem;
}
.options {
  display: flex;
  flex-direction: column;
}

#root {
  /* display:flex; */
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat( 3 , 1fr); */
}
body {
  background: rgba(96, 102, 208, 0.7);
}

.quiz{
 width: 400px;
 max-width: 100%;
 grid-column: 2;
 background-color: white;
 border-radius: 10px;
}